<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="/css/cv.css">
</head>
<body>
    <div class="bg">
        <img src="images/bg_image.png" alt="background image">
    </div>
    <div class="container">
        <div class="left">
            <img class="dp" src="images/dp.jpg" alt="profile picture">
            <h1>Attash Ul Wahab</h1>
            <h2>Software engineer</h2>

            <section class="contact">
                <h3>Contact Details:</h3>
                <p>attash@gmail.com</p>
                <p>+92 *** *** ****</p>
                <p>Lahore, Pakistan</p>
                <button><a href="https://github.com/Attash2312" target="_blank">Github </a></button>
                <button>Download CV</button>
        </div>
        <div class="right">
            <section class="about-section"><h1>About me</h1>
            <p>I am a Software Engineer with 2 years of experience in software development, testing, and maintenance. Proven ability to build high-performance, secure, data-driven applications with top-quality user experience. Proficient in a range of modern technologies including Python, JavaScript, and C++.</p>
        </section>
        <h2>Skills</h2>
        <section class="skills-section">
            <div class="skill-card">
                <h3>Python</h3>
                <p>2 years experience</p>
            </div>
            <div class="skill-card">
                <h3>JavaScript</h3>
                <p>1 year experience</p>
            </div>
            <div class="skill-card">
                <h3>C++</h3>
                <p>1 year experience</p>
            </div>
            <div class="skill-card">
                <h3>HTML</h3>
                <p>2 years experience</p>       
            </div>
            <div class="skill-card">
                <h3>CSS</h3>
                <p>2 years experience</p>
            </div>
            <div class="skill-card">
                <h3>React</h3>
                <p>1 year experience</p>
            </div>
        </section>
        <section class="education">
            <h2>Education</h2>
            <table>
                <tr>
                    <th>Degree</th>
                    <th>Institution</th>
                    <th>Year</th>
                </tr>
                <tr>
                    <td>BS Software Engineering</td>
                    <td>COMSATS Lahore</td>
                    <td>2022-Present</td>
                </tr>
                <tr>
                    <td>FSc(Pre Engineering)</td>
                    <td>Govt. College Township, Lahore</td>
                    <td>2019-2021</td>
                </tr>
                <tr>
                    <td>Matric</td>
                    <td>The Punjab School</td>
                    <td>2017-2019</td>
                </tr>
            </table>
        </section> 

        <section class="projects">
            <h2>Projects</h2>
            <div class="project-cards">
                <div class="prj">
            <h3>Project 1</h3>
            <p>Developed a web application for a local business to manage their inventory and sales. The application was built using Python and Django.</p>
                </div>
                <div class="prj">
            <h3>Project 2</h3>
            <p>Developed a mobile application for a local business to manage their inventory and sales. The application was built using React Native.</p>
                </div>
            <div class="prj">
            <h3>Project 3</h3>
            <p>Developed a web application for a local business to manage their inventory and sales. The application was built using Python and Django.</p>
            </div>
        </div>
        </section>
        </div>
    </div>
</body>
</html>