/node_modules
/Project/node_modules
/Assignments/Assignment3/node_modules
/Assignments/Assignment4/node_modules
/LabTasks/LabTask3/node_modules
/LabTasks/LabTask4/node_modules
/Exams/Final/node_modules