*{
    background-color: white;
    font-family: sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.mclogo{
    height: 120px;
    width: 120px;
    margin-left: 50px;
}
.mclogo img{
    width: 100%;
    height: 100%;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navbar{
    width: 100%;
}
.upnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
}
.upnav a{
    text-decoration: none;
    color: black;
}
.upln{
    justify-content: space-between;
    width: 350px;
    align-items: center;
    vertical-align: middle;
    padding-top: 18px;
}
.uprn{
    margin: 0px;
    justify-content: space-between;
    width: 600px;
    
}
.upnav button{
    padding: 10px 20px; /* Adjust padding for better spacing */
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    height: 40px; /* Increase height to accommodate padding and text */
    text-align: center; /* Center text horizontally */
    line-height: 20px; /* Match line-height to the text size for vertical centering */
    display: flex; /* Use flexbox for easy centering */
    align-items: center; /* Vertically center text */
    justify-content: center; /* Horizontally center text */
    border: none; /* Optional: Remove default button border */
}
#srchbtn{
    border: none;
}
#lctbtn{
    border: none;
}
#ordrbtn{
    border: none;
    background-color: rgb(218, 218, 0);
}
header ul li{
    gap: 20px;
    margin-right: 40px;
}
.dnnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    gap: 20px;
    margin-left: 10px;
    margin-top: 0px;
}
.dnnav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding-right: 20px;
    margin-left: -25px;
}