<nav class="navbar navbar-expand-lg navbar-custom navbar-pc">
    <div class="container-fluid">
      <!-- Logo on the left -->
      <a class="navbar-brand" href="#">
        <img src="images/McDonalds_Logo.png" alt="Logo" height="100"> <!-- Replace with your logo -->
      </a>

      <!-- Navbar content divided into two rows -->
      <div class="d-flex flex-column ms-3 w-100 fw-medium fs-2 grid-gap-1">
        <!-- Upper row -->
        <div class="d-flex w-100 upper-row">
          <!-- Left side: 2 links -->
          <div class="left-links grid-gap-1">
            <a class="nav-link" href="#">Careers</a>
            <a class="nav-link" href="#">Contact Us</a>
          </div>
          <!-- Right side: 3 links -->
          <div class="right-links">
            <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>Search</a>
            <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
            </svg>Locate Me</a>
            <a class="nav-link deliverybtn" href="#">Order on McDelivery</a>
          </div>
        </div>

        <!-- Lower row: 6 links -->
        <div class="lower-row grid-gap-1">
          <!-- In your navbar-pc section, replace the "Our Menu" link with this dropdown -->
<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Our Menu 
  </a>
  
  <!-- Mega Menu Content -->
  <div class="navbar-megamenu">
    <div class="container">
       <div class="row row-cols-1 row-cols-md-3 g-4">
      <!-- Item 1 -->
      <div class="col">
        <div class="d-flex align-items-center megamenu-item">
          <img src="/images/megamenufood.jpg" class="megamenu-img" alt="Big Mac">
          <a href="#" class="ms-3">Big Mac</a>
        </div>
      </div>
      
      <!-- Item 2 -->
      <div class="col">
        <div class="d-flex align-items-center megamenu-item">
          <img src="/images/megamenufood.jpg" class="megamenu-img" alt="Quarter Pounder">
          <a href="#" class="ms-3">Quarter Pounder</a>
        </div>
      </div>

      <!-- Item 3 -->
      <div class="col">
        <div class="d-flex align-items-center megamenu-item">
          <img src="/images/megamenufood.jpg" class="megamenu-img" alt="Cheeseburger">
          <a href="#" class="ms-3">Cheeseburger</a>
        </div>
      </div>

      <!-- Item 4 -->
      <div class="col">
        <div class="d-flex align-items-center megamenu-item">
          <img src="/images/megamenufood.jpg" class="megamenu-img" alt="McNuggets">
          <a href="#" class="ms-3">McNuggets</a>
        </div>
      </div>

      <!-- Item 5 -->
      <div class="col">
        <div class="d-flex align-items-center megamenu-item">
          <img src="/images/megamenufood.jpg" class="megamenu-img" alt="Spicy McCrispy">
          <a href="#" class="ms-3">Spicy McCrispy</a>
        </div>
      </div>

      <!-- Item 6 -->
      <div class="col">
        <div class="d-flex align-items-center megamenu-item">
          <img src="/images/megamenufood.jpg" class="megamenu-img" alt="Filet-O-Fish">
          <a href="#" class="ms-3">Filet-O-Fish</a>
        </div>
      </div>

      <!-- Item 7 -->
      <div class="col">
        <div class="d-flex align-items-center megamenu-item">
          <img src="/images/megamenufood.jpg" class="megamenu-img" alt="McFlurry">
          <a href="#" class="ms-3">McFlurry</a>
        </div>
      </div>

      <!-- Item 8 -->
      <div class="col">
        <div class="d-flex align-items-center megamenu-item">
          <img src="/images/megamenufood.jpg" class="megamenu-img" alt="Apple Pie">
          <a href="#" class="ms-3">Apple Pie</a>
        </div>
      </div>

      <!-- Item 9 -->
      <div class="col">
        <div class="d-flex align-items-center megamenu-item">
          <img src="/images/megamenufood.jpg" class="megamenu-img" alt="Happy Meal">
          <a href="#" class="ms-3">Happy Meal</a>
        </div>
      </div>
    </div>

    <!-- View All Button -->
    <div class="text-center mt-4">
      <a href="#" class="btn btn-outline-dark no-hover-dark">View Full Menu</a>
    </div>
    </div>
  </div>
</div>
          <a class="nav-link" href="#">About Our Food</a>
          <a class="nav-link" href="#">Your Right To Know</a>
          <a class="nav-link" href="#">Our App</a>
          <a class="nav-link" href="#">Family</a>
          <a class="nav-link" href="#">Trending Now</a>
        </div>
      </div>
    </div>
  </nav>

  <nav class="navbar-mobile">
    <div class="container-fluid">
      <!-- Logo on the left -->
      <a class="navbar-brand" href="#">
        <img src="images/McDonalds_Logo.png" alt="Logo" height="80"> <!-- Replace with your logo -->
      </a>
      <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg></a>
      </div>
      <div class="deliverybtn">
        <a class="nav-link deliverybtn " href="#">Order on McDelivery</a>
      </div>
  </nav>
