  <section class="hero-section">
    <div id="carouselExampleCaptions" class="carousel slide mx-auto p-5">
  <!-- Carousel Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <!-- Carousel Slides -->
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <!-- Image -->
      <img src="images/HM-Sonic-25-D.png" class="d-block w-100" alt="...">

      <!-- Desktop Caption -->
      <div class="carousel-caption d-none d-md-block">
        <h5>Race into Action with Sonic 3!</h5>
        <p>Sonic 3 toys are now in Happy Meal! Collect them all and bring the adventure to life. Hurry -before they speed away!</p>
        <button class="btn btn-warning">Order Now!</button>
      </div>

      <!-- Mobile Content -->
      <div class="d-block d-md-none text-center p-3">
        <h5>Race into Action with Sonic 3!</h5>
        <p>Sonic 3 toys are now in Happy Meal! Collect them all and bring the adventure to life. Hurry -before they speed away!</p>
        <button class="btn btn-warning">Order Now!</button>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <!-- Image -->
      <img src="images/Ramadan-25-D.png" class="d-block w-100" alt="...">

      <!-- Desktop Caption -->
      <div class="carousel-caption d-none d-md-block">
        <h5>Fast & Deal-icious!</h5>
        <p>Sehri or Iftar, the perfect feast awaits! Enjoy 2 Spicy McCrispy, 1 medium fries & 2 drinks-all for just Rs. 1075!</p>
        <button class="btn btn-warning">Order Now!</button>
      </div>

      <!-- Mobile Content -->
      <div class="d-block d-md-none text-center p-3">
        <h5>Fast & Deal-icious!</h5>
        <p>Sehri or Iftar, the perfect feast awaits! Enjoy 2 Spicy McCrispy, 1 medium fries & 2 drinks-all for just Rs. 1075!</p>
        <button class="btn btn-warning">Order Now!</button>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <!-- Image -->
      <img src="images/Bring-it-Home-25-D.png" class="d-block w-100" alt="...">

      <!-- Desktop Caption -->
      <div class="carousel-caption d-none d-md-block">
        <h5>Score Big with McDonald's & Coke!</h5>
        <p>The best match-day combo is here! Grab the McDonald's Jumbo Share Bag and get a FREE exclusive Coke glass. Limited stock, so hurry!</p>
        <button class="btn btn-warning">Order Now!</button>
      </div>

      <!-- Mobile Content -->
      <div class="d-block d-md-none text-center p-3">
        <h5>Score Big with McDonald's & Coke!</h5>
        <p>The best match-day combo is here! Grab the McDonald's Jumbo Share Bag and get a FREE exclusive Coke glass. Limited stock, so hurry!</p>
        <button class="btn btn-warning">Order Now!</button>
      </div>
    </div>
  </div>

  <!-- Carousel Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>

  <div class="card-container text-center p-3">
    <div class="card-row row g-4">
      <!-- Card 1 -->
      <div class="col-12 col-md-6 col-lg-4"> <!-- Responsive columns -->
        <div class="card h-100">
          <img src="images/item-1.jpg" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title custom-heading">McCafé</h5> <!-- Custom class for h5 -->
            <p class="card-text fs-6">Browse our menu for more information on topics such as our tasty coffee and espresso drinks.</p>
            <div class="mt-auto d-flex justify-content-center"> <!-- Push button to bottom and center it -->
              <button href="#" class="btn bg-warning w-40">Order Now</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Card 2 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
          <img src="images/item-2.jpg" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title custom-heading">McDelivery</h5>
            <p class="card-text fs-6">Delivering food at your doorsteps.</p>
            <div class="mt-auto d-flex justify-content-center">
              <button href="#" class="btn bg-warning w-40">Order Now</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Card 3 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
          <img src="images/item-3.jpg" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title custom-heading">Our App</h5>
            <p class="card-text fs-6">McDonald's in your Pocket.</p>
            <div class="mt-auto d-flex justify-content-center">
              <button href="#" class="btn bg-warning w-40">Download Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row g-4 mt-4">
      <!-- Card 4 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
          <img src="images/item-4.png" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title custom-heading">Our Menu</h5>
            <p class="card-text fs-6">Our exclusive menu is waiting for you.</p>
            <div class="mt-auto d-flex justify-content-center">
              <button href="#" class="btn bg-warning w-40">Order Now</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Card 5 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
          <img src="images/item-5.png" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title custom-heading">Trending Now</h5>
            <p class="card-text fs-6">Find out what's new.</p>
            <div class="mt-auto d-flex justify-content-center">
              <button href="#" class="btn bg-warning w-40">Learn More</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Card 6 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
          <img src="images/item-6.png" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title custom-heading">Careers</h5>
            <p class="card-text fs-6">Be a part of our team</p>
            <div class="mt-auto d-flex justify-content-center">
              <button href="#" class="btn bg-warning w-40">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  