<div class="container">
    <h1 class="text-center mb-4">Our Menu</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/images/big-mac.jpg" class="card-img-top" alt="Big Mac">
                <div class="card-body">
                    <h5 class="card-title">Big Mac</h5>
                    <p class="card-text">Two 100% pure beef patties and Big Mac sauce sandwiched between a sesame seed bun.</p>
                    <p class="price">$4.99</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/images/mcchicken.jpg" class="card-img-top" alt="McChicken">
                <div class="card-body">
                    <h5 class="card-title">McChicken</h5>
                    <p class="card-text">A juicy chicken patty topped with crisp lettuce and creamy mayonnaise.</p>
                    <p class="price">$3.99</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/images/fries.jpg" class="card-img-top" alt="French Fries">
                <div class="card-body">
                    <h5 class="card-title">World Famous Fries</h5>
                    <p class="card-text">Our signature golden fries, crispy on the outside and fluffy on the inside.</p>
                    <p class="price">$2.99</p>
                </div>
            </div>
        </div>
    </div>
</div> 